body {
  font-family: "Avenir Next";
}
h1 {
  color: red;
  font-size: 10px;
  font-family: serif;
  background-color: #ddd;
}
p{
  color: #0000ff;
  font-size:40px;
  font-family: "Avenir Next";
  backgorund-color: #ffd800;
}
img{
  width: 500px;
  height: 2000px;
}
li {
  float: left;
  list-style: none;
  color: red;
}
.selected{
  color: red;
}
.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 140px;
}

.copy-container h2 {
  font-size: 60px;
}

.logo{
  padding: 20px;
}

.copy-container span {
  color: #ff4a4a;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
