h1 {
  color:#ff0000;
}

p {
  color:#0000ff;
}
h1 {
  color: #e6855e;
  font-size: 30px;
  background-color:#f3f372;
  height:80px;
  width: 200px;
}
img {
  height: 50px;
  width:70px;
}
li {
  color: #444;
}

.selected {
  color:#ff0000;
}
body{
  font-family: "Avenir Next";
}
li {
  list-style: none;
  float: left;
  padding: 33px 20px;
}
.header{
  background-color:#26doc9;
  color: #fff;
  height: 90px;
}
.header-logo{
  float:left;
  font-size: 36px;
  padding: 20px 40px;
}
.header-list li{
color:#ff0000;
}
.main{
  padding: 100px 80px;
}
.copy-container h1 {
  font-size: 140px;
}
.copy-container h2 {
  font-size: 60px;
}
.copy-container span {
  color: #ff4a4a;
}
  background-color:#ceccf3;
  height: 270px;
}
 
